body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #191919;
    color: ghostwhite;
}

.box {
    width: 250px;
    height: 100px;
    margin: 100px auto 0;
    background: linear-gradient(to right, #a682ff, #E0B0D5);
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #89969E, #6E8387);
    border-radius: 10px;
}

header {
    overflow: hidden;
    background-color: #151515;
    padding: 10px;
}

header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 0.9rem;
    align-items: center;
    line-height: 9px;
}

header a.logo {
    font-size: 1.15rem;
    font-weight: bold;
}

.header-right {
    float: right;
}

.header-right a:hover {
    background-color: #484848;
    border-radius: 15px;
    color: white;
}

header a.active {
    background-color: #0CCA4A;
    border-radius: 15px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

p {
    overflow-x: hidden;
}

footer {
    background-color: #151515;
    color: white;
    text-align: center;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.grid-item label {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 310px) {
    header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
        width: 60px;
        background: #171717;
    }
}