<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="icon" type="image/x-icon" href="../static/icon.png">
    <link rel="stylesheet" href="../static/About.css">
</head>


<header>
    <a class="logo">Groupie-Tracker</a>
    <div class="header-right">
        <a href="/">Home</a>
        <a class="active" href="/about">About</a>
    </div>
</header>

<body>

</body>

</html>